html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainbody-width: 90%;
  --sidebar-width: calc(100% - var(--mainbody-width))
}

#mainbody{
  position: absolute;
  width: var(--mainbody-width);
  left: var(--sidebar-width);
}

#sidebar{
  --border-rad: 0px 10px 10px 0px;
  border-radius: var(--border-rad);
  position: fixed;
  background-color: rgba(90, 68, 150, 0.849);
  width: 10%;
  height: 100%;
}

#notebookList{
  height: 100%;
  border-radius: 0px 0px 10px 0px;
  border: 2px solid rgb(24, 24, 24);
  width: 100%;
  background-color: rgb(53, 53, 53);
  display: flexbox;
  flex-direction: column;
}

.notebook-title{
  background-color: rgb(80, 79, 79);
}

.notebook-block{
  cursor: pointer;
  background-color: rgb(65, 64, 64);
  color: #fff;
  opacity: 1;
}

#sidebarTitle{
  color: #fff
}

#sidebar button{
  position: absolute;
  right: 0;
  bottom: 0;
}

#sidebarHeaders{

flex: 0;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: blue
}

canvas {
  border: 1em solid rgba(102, 102, 255, 0.849);
}

button {
  cursor: pointer;
  background-color: #627e62;
  opacity: 0.8;
  border-radius: 1em;
  /* border: 0; */
}


#drawing {
  border: 1em solid rgb(139, 139, 243);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  touch-action: none; */
}

path {
  fill: none;
  opacity: 1;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}
