html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea{
  border: 2px solid #060606;
  border-radius: 4px;
  background-color: #414040;
  resize: none;
  color: white;
}

.new-description {
  height: 70px;
  box-sizing: border-box;
}

.new-title {
  height: 30px;
}

#toolbar {
  
  position: fixed;
    
  width: var(--mainbody-width);
    
  left: var(--sidebar-width);
    
  z-index: 10;
    
  height: var(--toolbar-width);
    
  display: flex;
    
  flex-direction: row;
    
  justify-content: flex-start;
    
  background-color: #353535;
    
  border-radius: 0 0 var(--toolbar-border-radius) var(--toolbar-border-radius);
}

#toolbar .tool {
    margin: var(--toolbar-button-margin);
}

img#eraser {filter: invert(1);}

:root {
	--share-prompt-width: 10em;
  	--toolbar-border-radius: 10px;
  	--toolbar-width: 1.5em;
  	--button-radius: 26.626px;
  	--mainbody-width: 85%;
  	--sidebar-width: calc(100% - var(--mainbody-width));
  	--toolbar-button-margin: 0.2em 0 0.2em 0.5em;
}

#mainbody{
  position: absolute;
  width: var(--mainbody-width);
  left: var(--sidebar-width);
  top: var(--toolbar-width);
}

#notebookList-Container {
  height: 100%;
  text-align: center;
  background-color: rgb(53, 53, 53);
  align-items: center;
}

#sidebar{
  resize: horizontal;
  --border-rad: 0px var(--toolbar-border-radius) var(--toolbar-border-radius) 0px;
  border-radius: var(--border-rad);
  position: fixed;
  background-color: rgba(90, 68, 150, 0.849);
  width: var(--sidebar-width);
  height: 100%;
}


#notebookList{
  max-height: calc(100% - 2.5 * var(--button-radius));
  --default-notebookList-background: rgb(53, 53, 53);
  border-radius: 0px 0px 10px 0px;
  border: 2px solid rgb(24, 24, 24);
  width: 100%;
  background-color: var(--default-notebookList-background);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#notebookList::-webkit-scrollbar{
  width: 10px;
  background-color: rgba(114, 114, 114, 0.514);
  border-radius: 10em;
}

#notebookList::-webkit-scrollbar-thumb{
  background-color: rgba(32, 32, 32, 0.514);
  border-radius: 10em;
}

.notebook-title{
  --default-title: rgb(80, 79, 79);
  background-color: var(--default-title);
}

.notebook-block{
  margin-top: 0.3em;
  cursor: pointer;
  background-color: rgb(65, 64, 64);
  color: #fff;
  opacity: 1;
}

#sidebarTitle{
  color: #fff
}

#logoutButton{
  position: absolute;
  right: 0;
  bottom: 0;
}

#loginButton{
  position: absolute;
  right: 0;
  bottom: 0;
}

#complete-add {width: 50px;}

#addNB:hover{
  background-color: #5c5b5b;
}

#addNB{
  
  text-align: center;
  width: var(--button-radius);
  height: var(--button-radius);
  background-color: #202020;
  border: 0;
  color: white;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  font-size: x-large;
}

#sidebarHeaders{
  
  flex: 0;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: blue
}

canvas {
  border: 1em solid rgba(102, 102, 255, 0.849);
}

button {
  cursor: pointer;
  background-color: #627e62;
  opacity: 0.8;
  border-radius: 1em;
  /* border: 0; */
}


#drawing {
  border: 1em solid rgb(139, 139, 243);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  touch-action: none; */
}

path {
  opacity: 1;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#online-users {
	border: 1px solid #000;
	background-color: #414040;
	
}

#online-list {
	margin-left: 0px;
	background-color: #555555;
	width: 200%;
	text-align: center;
	border-radius: 5px;
}

#share-button-container {
	width: min-content;
}

#share-button-content {
	display: none;
	position: relative;
	background-color: #555555;
	right: calc(var(--share-prompt-width)/2);
	width: var(--share-prompt-width);
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#share-button-content::-webkit-scrollbar{
	background-color: rgba(114, 114, 114, 0.514);
	border-radius: 10em;
}

#share-button-content::-webkit-scrollbar-thumb{
	background-color: rgba(32, 32, 32, 0.514);
	border-radius: 10em;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.online-user {
	margin-left: 0px;
}

.online {
	display: none;
}

#share-link-container
{
  
}


