html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: blue
}

canvas {
  border: 1em solid rgba(102, 102, 255, 0.849);
}

button {
  background-color: #627e62;
  opacity: 0.8;
  border-radius: 1em;
  /* border: 0 */
}

#drawing {
  border: 1em solid rgb(139, 139, 243);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  touch-action: none; */
}

path {
  fill: none;
  opacity: 1;
}
